@media (min-width: 992px) {


    .carousel-inner {
        display: flex !important;
        justify-content: center;
        padding: 50px 0;
    }

    .carousel-item {
        flex: 0 0 20% !important;
        margin: 0 10px !important;
        left: 0 !important;
        float: none !important;
        opacity: 0;
        transform: rotateY(90deg);
        transition: transform 0.7s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s ease !important;
        transform-style: preserve-3d;
    }

    .carousel-item.active,
    .carousel-item.active+.carousel-item,
    .carousel-item.active+.carousel-item+.carousel-item {
        display: block !important;
        opacity: 1 !important;
        transform: rotateY(0deg) !important;
        z-index: 5;
    }

    .carousel-item-end.active,
    .carousel-item-end.active+.carousel-item,
    .carousel-item-end.active+.carousel-item+.carousel-item {
        transition: none !important;
        opacity: 0 !important;
        display: none !important;
        transform: rotateY(90deg) !important;
    }

    .carousel-item-prev.carousel-item-end,
    .carousel-item-prev.carousel-item-end+.carousel-item,
    .carousel-item-prev.carousel-item-end+.carousel-item+.carousel-item {
        display: block !important;
        opacity: 1 !important;
        transform: rotateY(0deg) !important;
        transition: transform 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94),
            opacity 0.4s ease !important;
        transition-delay: 0.05s !important;
        z-index: 10;
    }


    .carousel-item-start.active,
    .carousel-item-start.active+.carousel-item,
    .carousel-item-start.active+.carousel-item+.carousel-item {
        transform: rotateY(-90deg) !important;
        opacity: 0 !important;
    }

}


.card-slider {
    border: 2px solid var(--main-color);
    border-radius: 20px;
    background-color: transparent;
    box-shadow: 0px 0px 26px 0px var(--main-color);
    cursor: pointer;

    &:focus {
        background-color: var(--hover-main-color);
        color: var(--main-white-color);
    }

    &:hover {
        background-color: var(--hover-main-color);
        color: var(--main-white-color);
    }
}


@media screen and (max-width: 992px) {
    .carousel {
        height: 350px;
    }

    .card-slider {
        width: 300px;
        box-shadow: none;
    }
}