* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo", sans-serif;
}

:root {
    --main-color: rgb(89, 38, 140);
    --hover-main-color: rgba(89, 38, 140, 0.45);
    --secondary-color: rgb(81 84 118);
    --main-white-color: #f5f5f5;
    --font-exo: "Exo", sans-serif;
}

section {
    margin: 50px 70px;
}

body {
    background-color: #03051E;
}

h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    text-transform: capitalize;
}

.font-exo {
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    text-transform: capitalize;
}

.paragraph {
    white-space: pre-line;
}

.main-color {
    color: var(--main-color);
}

.secondary-color {
    color: var(--secondary-color);
}

.main-white-color {
    color: var(--main-white-color);
}

.image {
    width: 150px;
    /* height: 80px; */
}

.w-50-100 {
    width: 50%;
}

.h-100-50 {
    height: 100%;
}

.btn-width {
    width: 150px;
}

.btn-color {
    border: 1px solid var(--main-color);
    color: var(--main-white-color);

    &:focus {
        background-color: var(--hover-main-color);
        border: 1px solid var(--main-color);
        color: var(--main-white-color);
    }

    &:hover {
        background-color: var(--hover-main-color);
        color: var(--main-white-color);
        border: 1px solid var(--main-color);
    }

    &.active {
        border: 1px solid var(--main-color);
        background: linear-gradient(to top, var(--main-color), #2e0832);
        color: var(--main-white-color);
    }
}


nav {
    .nav-item {
        a {
            color: var(--main-white-color);

            &:hover {
                color: var(--secondary-color);
            }

            &:focus {
                color: var(--secondary-color);
            }
        }
    }

    .active {
        color: var(--main-color) !important;
        font-weight: 700;
    }

}

.hero {
    width: 100%;
    height: 80vh;
    background-image: url(./../image/hero-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}

.card-1 {
    width: 100%;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    background-color: transparent;
    box-shadow: 0px 0px 26px 0px var(--main-color);
    border-radius: 50px;
    backdrop-filter: blur(12px);
    cursor: pointer;

    &:focus {
        background-color: var(--hover-main-color);
        color: var(--main-white-color);
    }

    &:hover {
        background-color: var(--hover-main-color);
        color: var(--main-white-color);
    }
}




.card {
    width: 15rem;
    height: 16rem;
    /* opacity: 30%; */
    border: 2px solid var(--main-color);
    color: var(--main-color);
    background-color: transparent;
    box-shadow: 0px 0px 26px 0px var(--main-color);
    cursor: pointer;

    &:focus {
        background-color: var(--hover-main-color);
        color: var(--main-white-color);
    }

    &:hover {
        background-color: var(--hover-main-color);
        color: var(--main-white-color);
    }

}

.icon-solution {
    font-size: 60px;
}

.card-solution {
    width: 19rem;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    background-color: transparent;
    box-shadow: 0px 0px 26px 0px var(--main-color);
    cursor: pointer;

    &:focus {
        background-color: var(--hover-main-color);
        color: var(--main-white-color);
    }

    &:hover {
        background-color: var(--hover-main-color);
        color: var(--main-white-color);
    }

}

.section-background {
    background-image: url(./../image/hero-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}



.dot {
    width: 10px !important;
    height: 10px !important;
}

.circle {
    width: 45px;
    height: 45px;
    border: 1px solid var(--main-color);
    border-radius: 50%;
    background-color: var(--main-color);

}

.circle-solution {
    width: 100px;
    height: 100px;
    border: 1px solid var(--main-color);
    border-radius: 50%;
    background-color: var(--main-color);

}
.image-solution{
    width: 12rem;

    border: 2px solid var(--main-color);
    border-radius: 20px;
        color: var(--main-color);
        background-color: transparent;
        box-shadow: 0px 0px 26px 0px var(--main-color);
        cursor: pointer;
}

.footer {
    border-top: 1px solid var(--main-white-color);

    .row {
        padding-top: 50px;
        gap: 30px;


        ul {
            list-style-type: none;
            margin: 0px;
            padding: 0px;

            li {
                margin-top: 15px;
                font-weight: 400;
                font-size: 18px;
                text-transform: capitalize;
                color: var(--secondary-color);

            }
        }

        a {
            text-decoration: none;
            color: var(--secondary-color);
        }
    }

}

.logo-footer {
    width: 150px;
}


@media screen and (max-width : 992px) {
    section {
        margin: 50px 20px;
    }

    h2 {
        font-size: 30px;

    }


    .w-50-100 {
        width: 100%;
    }

    .h-100-50 {
        height: 50%;
    }

    .paragraph {
        white-space: normal;
    }

    .image {
        width: 70px;
    }

    .section-background {
        /* height: 130vh; */
        background-image: url(./../image/hero-sm.png);
    }

    .logo-footer {
        width: 10rem;
    }

}